@using TuneMergR.Data
<h3>SongDetail</h3>

@if (SongModel is not null)
{
    <MatCard>
        <MatCardContent>
            <MatCardMedia ImageUrl="@SongModel.PosterPath"/>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    @SongModel.SongTitle
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">@SongModel.Channel</MatSubtitle2>
                <MatSubtitle2 class="demo-mat-card-clean-margin">@SongModel.Duration</MatSubtitle2>
            </div>

            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">@SongModel.Description</MatBody2>
        </MatCardContent>
    </MatCard>
}

@code
{
    [Parameter]
    public Song SongModel { get; set; }
}